// Define variable defaults
$orange: #fab958;
$el-black: #1c1c1c;
$blue: #142248;


$el-Orange: #fab958 ;
$el-yellow: #fad573 ;
$el-dark-orange: #f78c00 ;
$el-dark: #1c1c1c ;
$el-light-dark: #242424;
$el-dark-blue: #142248;
$el-light-blue: #385498 ;
$el-purple: #3f2e7e ;
$el-salmon: #ea6a52;

// $navBarWidth: 235px;
$navBarWidth: 250px;
// $body-bg: $el-black;
// $body-color: white;
// $dark: $orange;
// $theme-colors: (
//   "primary":    $primary,
//   "secondary":  $secondary,
//   "success":    $success,
//   "info":       $info,
//   "warning":    $warning,
//   "danger":     $danger,
//   "light":      $light,
//   "dark":       $dark
// );

// Then import Bootstrap an BootstrapVue SCSS files (order is important)
@import 'node_modules/bootstrap/scss/bootstrap.scss';
@import 'node_modules/bootstrap-vue/src/index.scss';